*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#imageContainer {
    position: relative;
    width: 100%;
    height: 51rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.462);
    
    /* animation: mymove 4s infinite; */
}
 
  #image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: mymove 24.5s infinite;
    object-fit: cover;
  }
  #image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;}
@keyframes mymove {
    0% { opacity: 0; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    90% { opacity: 1; }
  100%{opacity: 0;}
  40% { opacity: 0; }
  50% { opacity: 1;} 
 }
 #coffeeArt{
  position: absolute;
  top:77px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  width: 22.2%;
 }
 .description{
  
  position: absolute;
  top: 50%;
  left: 50%;
 
  transform: translateX(-50%);
  z-index: 3;
  font-size: 70px;
  font-weight: 900;
color: aliceblue;
opacity: 0;
/* animation: zoom-in-zoom-out 4s ease-in infinite; */
}  
.description:nth-of-type(1)
{
  animation: zoom-in-zoom-out 24s  ease-out infinite;
  
}
.description:nth-of-type(2){
  animation: zoom-in-zoom-out 24s  ease-out infinite;
  animation-delay: 12s;
}

@keyframes zoom-in-zoom-out {
  0% {
  
    opacity: 1;
  }
  25%{
   
    opacity: 1;
  }
  50% {
    
    opacity: 0;
  }
  75% {
   
    opacity: 0;
  }
  100% {
   
    opacity: 0;
  }
}

.turkish{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(231, 179, 90);
  animation: turkish 13s infinite ;
 opacity: 0;
}
@keyframes turkish{
  0%{
    bottom: 0%;
    opacity: 0;
  }
  25%{
    bottom: 8%;
    opacity: 1;
  }
  50%{
    bottom: 8%;
    opacity: 1;
  }
  100%
  {
    bottom: 8%;
    opacity: 0;
  }
}
.turk{
  position: absolute;
  left: 50%;
  bottom: 10%;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(231, 179, 90);
  }
.nav{
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 50px 0px;
  align-items: center;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
  
}

.nav li{
/* position: relative; */
  font-size: 16px;
  font-weight: 900;
  line-height: 15px;
  color: aliceblue;
  margin: 0px 40px;
  font-family: 'Monoton', cursive;
}
.nav a{
  text-decoration: none;
  position: relative;
}
.nav a::after{
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px; 
  left: 0;
  background-color: blue;
  transform-origin: bottom top;
  transition: transform 0.3s ease-in-out;
}
.nav a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
};


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  25%{
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  75% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
.secondContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
}
.secondImages{
  display: flex;
  flex-flow: column wrap;
  width: 400px;
  }
  .secondImages img{
    width: 100%;
    }
    .secimg{
      margin-top: 25px;
    }
    .thirdimgp{
width: 400px;

    }
    .thirdImg{
      width: 100%;
      margin-left: 25px;
    }
  .para{
    max-width: 800px;
    font-family:  'Monoton', cursive;
    font-family: 'Roboto', sans-serif;
    margin-left: 80px;
  font-size: 22px;
  line-height: 42px;
  font-weight: 600;
  text-align: center;
  color: rgb(160, 159, 159);
  }
  .secHead{
    margin-bottom: 40px;
    color: rgb(36, 35, 35);
    font-family:  'Monoton', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  .secButn{
    padding: 0px;
  }
  .btn1,.btn2{
    padding: 15px 40px;
    background-color: rgb(240, 191, 76);
   
    font-size: 22px;
    color: aliceblue;
    font-weight: 700;
    border: none;
    margin: 40px 10px;
  }
  .thirdContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-items:center;
  position: relative;
   object-fit: cover;
    margin-top: 120px;
    padding-bottom: 10px;
 
  }
  .thirdclassImg{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .thirdclassImg img{
    width: 100%;
  }
  .parallax-layer{
    position: absolute;
    /* top: 380px; */
  }
  .locationContainer{
  overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   top: 0;
}
  .locationCard1, .locationCard2, .locationCard3{
   
    background-color:aliceblue;
   width: 500px;
   display: flex;
   flex-flow: column;
   align-items: center;
   margin: 0px 20px;
   padding-bottom: 40px;
  }
  .locationCard1 img, .locationCard2 img, .locationCard3 img{
padding: 40px;
}
  .locationCard1 p,h2, .locationCard2 p,h2, .locationCard3 p,h2{
    padding: 0px 40px;
    font-family: Roboto, Helvetica;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    color: rgb(136, 136, 136);
  }
  .locationCard1 h2, .locationCard2 h2, .locationCard3 h2{
  font-weight: 1000;
  font-family: Roboto Condensed  Helvetica;
  text-align: left;
  
  color: black;
  }
  .locationCard1img img {
    width: 100%;
  }
  .locationBtn, .locationBtn2, .locationBtn3{
    background-color: rgb(231, 179, 90);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
  }
  .bookmark{
    /* position: absolute; */
    font-size: 40px;
    color: white;
    text-align: center;
    /* margin: 60px 0px ; */
    /* padding-top: 80px; */
  }
  .offersContainer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
   
  }
  .offerwrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 10px;
  }
  .offerImageList{
  
    /* padding: 40px 40px; */
    width: 80%;
    display: flex;
   
    overflow-x: scroll;
  /* object-fit: cover; */
  }
  .offerImageList::-webkit-scrollbar{
    display: none;
  }
  .offerdiv{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex: none;
    padding: 10px;
    
  }
  .offerimg1, .offerimg2,.offerimg3,.offerimg4,.offerimg5{
    border-radius: 150px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    /* position: absolute; */
  }
  .offerimg1 img, .offerimg2 img .offerimg3 img, .offerimg4 img, .offerimg5 img{
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 40%;
  }
  .backBtn{
    background-color: bisque;
  }
  .menuContainer{
    background-color: rgb(245, 245, 245);
    padding: 80px 0;
    
  }
  .menuimg{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    overflow: hidden;
    margin: 10px 10px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .menuimg img{
    width: 100%;
    
  }
 .menupricelist{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
 }
  .menuimgfrow{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0px 129px;
   }
   .menupricelist h1{
font-size: 22px;
   }
   .menuimgcont{
    display: flex;
    padding-right: 180px;
    border-bottom: 1px dotted #000000;
   }
   .menuimg{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    overflow: hidden;
    margin: 10px 10px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .menuimg img{
    width: 100%;
    
    
  }
 .menupricelist{
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
 }
  .menuimgfrow{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px 129px;
    padding-bottom: 10px;
   }
   .menupricelist h1{
font-size: 22px;
   }
   .menuimgcont{
    display: flex;
    flex-flow: row wrap;
    padding-right: 180px;
    border-bottom: 1px dashed #c0bdbd;
    margin-bottom: 20px;
    padding-bottom: 10px;
   }
   .locationContainer2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   }
   .aboutUsContainerP{
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}
.aboutUsContainerP img{
  width: 100%;
}
.parallel{
  position: absolute;
}
   .aboutUsContentContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
   }
   .aboutUsTxt{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
   }
   .aboutUsImg{
    /* position: relative; */
    width: 100%;
    object-fit: cover;
    mask-repeat: no-repeat;
   }
   .aboutUsImg img{
    width: 100%;
   }
   .aboutUsContents{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 390px;
    font-size: 22px;
    font-weight: 550;
    text-align: center;
    font-size: Roboto, Helvetica, Arial, Verdana, sans-serif;
    line-height: 37px;
    color: rgb(136, 136, 136);
    background-color: rgb(255, 255, 255);
    padding: 80px 20px;
    margin: 40px 20px;
    
   }
   .aboutimgHead{
    font-size: Roboto, Helvetica, Arial, Verdana, sans-serif;
    font-size: 34px;
    padding-top: 50px;
    font-weight: 600;
    color: rgb(43, 42, 42);
   }
   .aboutUsImage{
    width: 240px;
   }
   .aboutUsImage img{
    width: 100%;
   }
   .footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 80px 0px;
    color: aliceblue;
   }
   .footerRow{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    margin: 20px 10px;

   }
   .footerRow div{
    margin: 40px 80px;
   }